

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>BSA</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="https://i.ibb.co/qr3Gjmx/BSA-Logo.png"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="static/aboutStyles.css">
</head>
<div class="body" id="body">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-lg about-ratio">
    <div class="container">
        <a class="navbar-brand" href = "index">Byte Size Arxiv</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
            </ul>
        </div>
    </div>
  </nav>

</div>

<body>
  <!-- Navbar -->
  <!-- Responsive navbar-->
  <div>
    
  </div>
  </div>
    <main class = "pl-14">
      <!--Hero section-->
      <section id="hero">
        <div class="container flex flex-col md:flex-row items-center px-40 mx-auto mt-10 space-y-0 md:space-y-0">
          <div>
            <!--left item-->
            <div class="flex flex-col mb-32 space-y-6 md:w-1/2">
              <h1 class="max-w-md text-3xl font-bold text-center md:text-5xl md:text-left">Researching papers is messy...</h1> 
              <p class="max-w-sm text-center md:text-left">BUT We created a website that explores and navigates related papers all in one place so ... why not try us out ;)</p>
              <div class="flex justify-center md:justify-start">
              <a
                href = "#"
                class="p-3 px-6 pt-2 text-white bg-blue rounded-full baseline hover:bg-gray transition-shadow ease-in-out duration-150 shadow-none hover:shadow-xl"
                >Why we are different</a>
              </div>
            </div>
          </div>
          <div class = "md:w-1/2">
            <img 
            src="static/assets/Project_4-09.jpg" 
            class = "container flex flex-col items-center max-w-xl h-auto transition-shadow ease-in-out duration-150 shadow-none hover:shadow-xl"
            alt="header_img" />
          </div>
        </div>
      </section>


<!--Features Section-->
<section id="features">
  <div
    class="container flex flex-col px-20 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row"
  >
    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
        How is BSAT different 
      </h2>
      <p class="max-w-sm text-center text-black md:text-left">
        Students, professionals, and just simply curious humans can search our site via subject, 
        or any question they might have. Our displayed results have an infinite scrolling of papers that match with your query!  
      </p>
    </div>

    <div class="flex flex-col space-y-8 md:w-1/2">
      <div
        class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
      >
        <div class="rounded-l-full hover\:bg-gray md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div
              class="px-4 py-2 text-white rounded-full md:py-1 bg-blue"
            >
              01
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            Search up a question, or select a topic
          </h3>
          <p class="text-black">
            Any questions goes! Or if you're not quite sure on what you want to look for
            click on the subjects to see if one interests you!
          </p>
        </div>
      </div>

      <!-- List Item 2 -->
      <div
        class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
      >
        <!-- Heading -->
        <div class="rounded-l-full bg-blue md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div
              class="px-4 py-2 text-white rounded-full md:py-1 bg-blue"
            >
              02
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
              Read to your satisfaction
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            Read to your satisfaction
          </h3>
          <p class="text-black">
            Every displayed paper is summarized for you, so you can see the most important 
            points without ever leaving the comfort of our website. If you want to see more information
            simply click "read more" and it will be displayed!
          </p>
        </div>
      </div>

      <!-- List Item 3 -->
      <div
        class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row"
      >
        <!-- Heading -->
        <div class="rounded-l-full bg-blue md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div
              class="px-4 py-2 text-white rounded-full md:py-1 bg-blue"
            >
              03
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
              Everything you need in one place
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            Everything you need in one place
          </h3>
          <p class="text-black">
            No more need for 50 tabs... we have everything on one page. 
            Infinite scrolling means you just have to scroll to find more information. It has 
            never been easier. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Written by -->
    <section id="authors">
      <!-- Container to heading and testm blocks -->
      <div class="max-w-6xl px-5 mx-auto mt-32 text-center">
        <!-- Heading -->
        <h2 class="text-4xl font-bold text-center">
          Who are the creators?
        </h2>
        <!-- author Container -->
        <div class="flex flex-col mt-24 md:flex-row md:space-x-6">
          <!-- author 1 -->
          <div
            class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/3"
          >
            <img src="static/assets/IMG_348AB9E6962E-1.jpeg" class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Humza Dalal</h5>
          </div>

          <!-- author 2 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static\assets\duffy.4d978fa2.jpg" class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Alex Duffy</h5>
            <p>Hi, I'm Alex!
              I am passionate about using technology to build teams and tools, that help us teach and learn.</p>

          </div>

          <!-- author 3 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/aria.png"  class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Aria Hoesley</h5>
            <p>Hi, I'm Aria Hoesley, a freshman at Northwestern University studying biology and data science. I'm designer and backend for this project, and i'm interested in the intersection of AI and biology to improve biotech!
            </p>
          </div>
          <!-- author 4 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/vecteezy_people-hairstyle-flat-icons_8166575.jpg" class="w-16 -mt-14" alt="" />
            <h5 class="text-lg font-bold">Thomas Li</h5>
            <p>Hi! I'm Thomas Li and I am currently in my sophomore year of high school. I was responsible for both the frontend and backend of this project. My goals are to use techonlogy and machine learning to improve every day life.
            </p>
          </div>
        </div>
          <div class="flex flex-col mt-24 md:flex-row md:space-x-6">
          <!-- author 5 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/IMG_20221102_165756.jpg"  class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Jimmy Lu</h5>
            <p>Hi, I'm Jimmy Lu, a Machine Learning Developer at AI Camp and a Senior at Lowell High School. I'm passionate about large language models like GPT-3!</p>
          </div>
          <!-- author 6 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/neeraj.f28ac299.jpg" class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Neeraj</h5>
            <p>Hi! I’m Neeraj Sudhakar and I studied Financial Engineering at Columbia University. I am currently a Quantitative Researcher and enjoy the field of systematic decision making through modern ML methods.
            </p>
          </div>
          <!-- author 7 -->
          <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/vecteezy_people-hairstyle-flat-icons_8166575.jpg" class="w-16 -mt-14" alt="" />
            <h5 class="text-lg font-bold">Sriram p</h5>
          </div>
          <!-- author 8 -->
            <div
            class="hidden flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:flex md:w-1/3"
          >
            <img src="static/assets/vincent.png"  class="img-set -mt-14" alt="" />
            <h5 class="text-lg font-bold">Vincent Yang</h5>
            <p>Hi! I'm Vi Yang, a freshman at Northwestern studying Computer science and aiming to get certificates in marketing and managerial analytics. I was a designer and front end developer for this project, and I'm looking forward to everyone using this product! 
            </p>
          </div>
        </div>
        <!-- Button -->
        <div class="my-16">
          <a
            href="#"
            class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight"
            >Get Started</a
          >
        </div>
      </div>
    </section>
    </main>
</body>
</html>